body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

/* navbar */

.nav-container {
  height: 72px;
}

.logo {
  margin-left: 72px;
}

.search-container {
  width: 360px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #f2f2f2;
}

.search-container img {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  margin: 10px 14px 10px 0px;
}

.search-container input {
  color: #5c5c5c;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: none;
  width: 70%;
  height: 100%;
}
.create-account {
  margin-right: 96px;
  width: 183px;
  height: 21px;
  color: #2e2e2e;
  text-align: right;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.blue {
  color: #2f6ce5;
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
}

.mobile-nav {
  margin-right: -20px;
}

@media (max-width: 576px) {
  .nav-container {
    height: 24px;
    width: 100%;
  }
}

/* header */
.header-container {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("./assets/images/Rectangle 2.svg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 440px;
}

.header-text {
  color: #fff;
  font-family: IBM Plex Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46.8px;
  position: absolute;
  top: 286px;
  left: 200px;
}

.header-text-small {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

@media (max-width: 576px) {
  .header-container {
    position: relative;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.45) 0%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("./assets/images/Rectangle-mobile-2.svg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 236px;
  }

  .header-text {
    line-height: 46.8px;
    color: #fff;
    font-family: IBM Plex Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    top: 164px;
    left: 16px;
  }

  .header-text-small {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
  }
}

/* body-container */

.body-container {
  width: 80%;
  margin: 0 auto;
}

/* section */
.left {
  margin-top: 47px;
  margin-bottom: 20px;
}
.left span {
  margin-right: 20px;
  color: #8a8a8a;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.right button {
  margin-right: 16px;
  margin-top: 40px;
}

.right img {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.btn-color {
  background-color: #edeef0;
}

@media (max-width: 576px) {
  .body-container {
    width: 100%;
  }
  .backarrow {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 40px;
  }

  .btn-outline-light {
    position: absolute;
    top: 38px;
    right: 18px;
    width: 76px;
    height: 28px;
    flex-shrink: 0;
    color: #fff;
    font-family: IBM Plex Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .filterandpost {
    height: 60px;
  }
  .postMobile {
    color: #212529;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.14px;
    position: absolute;
    top: 282px;
    left: 16px;
  }

  .filter {
    width: 106px;
    height: 32px;
    flex-shrink: 0;
    position: absolute;
    top: 274px;
    right: 18px;
    color: #212529;
    font-family: IBM Plex Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .filter img {
    padding-left: 10px;
  }
}

/* card */

.container {
  margin: 0px;
}
.card {
  margin-top: 20px;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  padding: 0px;
}

.typeImage {
  width: 75px;
  height: 25px;
  margin: 10px;
}

.card-body {
  padding: 5px;
}

.card-title {
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 134.167%; /* 29.517px */
  width: 500px;
}

.dot {
  width: 28px;
  height: 28px;
  margin-right: 20px;
  cursor: pointer;
}
.card.text {
  color: #5c5c5c;
  font-family: IBM Plex Sans;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.167%; /* 25.492px */
}
.profile {
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profile img {
  width: 48px;
  height: 48px;
  padding: 5px;
}

.views {
  color: #525252;
  text-align: right;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 44px;
}

.views img {
  margin-right: 10px;
}

.share {
  width: 42px;
  height: 36px;
  margin-right: 20px;
}

@media (max-width: 576px) {
  .typeImage {
    width: 60px;
    height: 19px;
  }
  .card-title {
    color: #212529;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .card-text {
    color: #495057;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .profile {
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .profile img {
    width: 48px;
    height: 48px;
    padding: 5px;
  }

  .views {
    color: #525252;
    text-align: right;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 44px;
  }

  .views img {
    margin-right: 10px;
  }

  .share {
    width: 42px;
    height: 36px;
    margin-right: 20px;
  }
}
